.contaner {
    display: flex;
    justify-content: center;
}

.box1 {
    height: 300px;
    width: 300px;
    background-color: green;
    border: 10px solid rgb(243, 177, 55);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 {
    height: 200px;
    width: 200px;
    background: #000;
}

header {
    display: flex;
    align-items: center;
    background: #e49d9d;
    text-transform: capitalize;
    height: 80px;
}

.start {
    list-style-type: none;
    display: flex;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    font-size: 50px;
    font-style: italic;
}

li {
    display: flex;
    justify-content: flex-start;
}

a {
    text-decoration: none;
    padding: 1px;
    border-radius: 10px;
    margin: 5px;
    font-size: 25px;
}

.not {
    display: flex;
    justify-content: center;
    background-color: #4013c9;
    height: 30px;
    width: 150px;
    align-items: center;
    border-radius: 10px;
    text-transform: capitalize;
}

.profile-image {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: #472ed2;
}

.title {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}

img {
    height: 100px;
    margin: 20px;
}

.car {
    display: flex;
    align-items: end;
    justify-content: space-between;
    text-transform: capitalize;
}

.model {
    height: 500px;
    width: 500px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(222, 235, 230);
    display: flex;
    flex-direction: column;
}

.icon {
    height: 50px;
    width: 50px;
    font-size: 50px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: rgb(114, 114, 238);
    border: 1px;
    border-radius: 50px;
    background-color: #fff;
}

.are {
    font-size: 20px;
    font-weight: 700;
    margin-left: 70px;
}

.model .close {
    font-weight: 700;
    height: 30px;
    width: 20px;
    border-radius: 50px;
    background-color: #5f50cf;
    display: flexbox;
}